<div class="bg-white dark:bg-black py-16 text-center px-4">
  <p class="text-3xl font-bold text-black dark:text-white mb-4">Únete a la Comunidad</p>
  <p class="text-gray-800 dark:text-gray-200mx-auto mb-8">
    Suscríbete a nuestro boletín para recibir acceso anticipado a nuestras colecciones, ofertas exclusivas y mucho más.
  </p>

  <form class="flex flex-col sm:flex-row gap-4 max-w-md mx-auto">

    <p-iconfield>
      <p-inputicon class="pi pi-envelope" />
      <input type="text" pInputText placeholder="Tu  correo electrónico"/>
    </p-iconfield>

    <p-button
      type="submit"
      label="Suscribirse"
      class="bg-accent !rounded-xl font-bold "
    />
  </form>
</div>
