<div class="py-16 px-4 sm:px-6 lg:px-8 bg-black dark:bg-black">
  <p class="text-3xl font-bold leading-tight tracking-[-0.015em] text-center mb-12 text-gray-300">Nuestra Historia</p>
  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
    <div class="rounded-xl overflow-hidden">
      <img alt="A team of young designers collaborating in a modern, creative studio space." class="w-full h-full object-cover" src="images/cerbero.jpg"/>
    </div>
    <div class="text-yellow-300">
      <p class="text-2xl font-bold mb-4 text-yellow-200">Diseño. Calidad. Compromiso.</p>
      <p class="mb-4 text-gray-300">En <span class="font-bold text-green-300 font-serif"> Lucky Hats & Clothes</span> no seguimos tendencias, las creamos desde la calle.</p>
      <p class="text-gray-300"> Cada gorra, cada prenda, lleva el ADN del barrio: actitud, ritmo y libertad.
                                Hechas con materiales chingones, pensadas pa’ que se sientan igual de bien que se ven...</p>
    </div>
  </div>
</div>
