<div class="relative min-h-[calc(100vh-80px)] flex flex-col items-center justify-center text-center p-4">
  <div class="absolute inset-0 bg-black/50"></div>
  <img src="images/lucky-hats-banner.jpg" alt="Gorras Lucky Hats" class="absolute inset-0 w-full h-full object-cover">

  <div class="relative z-10 flex flex-col gap-6 items-center">
    <div class="flex flex-col gap-4 text-center text-white">
      <p class="text-xl font-bold leading-tight tracking-tighter md:text-6xl text-green-100 font-cabinet font-medium">No seguimos la moda,<span class=" font-cabinet font-medium block font-semibold text-green-200 italic"> La rompemos.</span> </p>

      <!-- <h1 class="text-4xl font-bold leading-tight tracking-tighter md:text-6xl text-yellow-500 ">No seguimos la moda,<span class="block font-bold text-green-500"> La rompemos.</span> </h1>
      <h2 class="text-base font-normal leading-normal md:text-lg">La nueva colección de otoño ya está aquí.</h2> -->
    </div>

    <p-button
      label="Explorar Ahora"
      styleClass="h-12 px-6 bg-accent text-white text-base font-bold transition-transform hover:scale-105"
      size="large"
      [rounded]="true"
    />
  </div>
</div>
